
@media print {
  @page {
    size: A4;
    margin: 0.5in;
  }

  .voucher-page {
    page-break-after: always;
  }

  [data-print-copies="1"] .voucher-wrapper {
    page-break-after: always;
    height: 95vh;
  }
  
  [data-print-copies="1"] .voucher-page:last-child .voucher-wrapper:last-child {
      page-break-after: auto;
  }

  [data-print-copies="2"] .voucher-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 98vh;
    justify-content: space-around;
  }
  [data-print-copies="2"] .voucher-wrapper {
    width: 100%;
    height: 48%;
    box-sizing: border-box;
  }
   [data-print-copies="2"] .voucher-wrapper:nth-child(2) {
    page-break-after: avoid;
  }
  [data-print-copies="2"] .voucher-wrapper:nth-child(3) {
    page-break-before: always;
  }

  [data-print-copies="3"] .voucher-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 98vh;
    gap: 1rem;
    page-break-after: always;
  }
  
  [data-print-copies="3"] .voucher-wrapper {
      width: 32%;
      height: 100%;
      box-sizing: border-box;
  }

  [data-print-copies="3"] .voucher-page:last-child {
    page-break-after: auto;
  }
}
