
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Logged-in users can read/write their own data
    match /users/{userId}/{documents=**} {
      allow read, write: if request.auth.uid == userId;
    }

    // --- Public Profile Rules ---
    // These allow anyone to read specific documents needed for the public profiles.
    match /students/{studentId} {
      allow get: if true;
      allow list: if false; 
    }
    match /alumni/{alumniId} {
      allow get: if true;
    }
    match /families/{familyId} {
      allow get: if true;
    }
     match /teachers/{teacherId} {
      allow get: if true;
    }
     match /fees/{feeId} {
      allow get: if true; 
      allow list: if false;
    }
     
    // Allow logged-in users to read/write all other collections
    // This is a general rule and can be refined for more granular access control
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
